<% include partials/header %>
  <% if(error){%>
    <div><%=message%><div>
  <%}%>
  <form id="add" action="/songs" method="post">
    <label>Titre : </label>
    <input type="text" name="title"></input>
    <label>Artiste :</label>
    <input type="text" name="artist"></input>
    <label>Album :</label>
    <input type="text" name="album"></input>
    <label>Year : </label>
    <input type="number" name="year"></input>
    <label>Bpm : </label>
    <input type="number" name="bpm"></input>
    <button form="add" type="submit" class="btn btn-primary">Ajouter</button>
  </form>
<% include partials/footer %>

