<% include partials/header %>
  <form id="login" action="/login" method="post">
    <div>
      <label>Username:</label>
      <input type="text" name="username"/>
    </div>
    <div>
      <label>Password:</label>
      <input type="password" name="password"/>
    </div>
    <div>
      <button form="login" type="submit" class="btn btn-primary">Se connecter</button>
    </div>
  </form>
  <a href="/signup">Se registrer</a>
<% include partials/footer %>
